name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install Test Requirements
        run: python -m pip install --upgrade -r test-requirements.txt

      - name: Run Tests
        run: python -m unittest tests/test_*.py

  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Build source and wheel distributions
        run: |
          python -m pip install --upgrade build twine
          python -m build
          twine check --strict dist/*

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
